/* ==========================================================================
   Scrum poker style
   ========================================================================== */
   
/* Container */
body {
  background-color: #0b0c10;
}

.portlet-head-label {
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
  color: white;
}

.portlet {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 0;
  border: rgba(0, 0, 0, 0.125);
  background-color: rgba(31, 32, 35, 0.9);
  word-wrap: break-word;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.portlet hr {
  margin-right: 0;
  margin-left: 0;
}

.portlet a {
  color: inherit;
}

.portlet .portlet-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

.portlet .portlet-body {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.portlet .portlet-body .portlet-title {
  margin-bottom: 0.75rem;
}

.portlet .portlet-body .portlet-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.portlet .portlet-body p:last-child {
  margin-bottom: 0;
}

.portlet .portlet-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.portlet + .portlet {
  margin-top: 1rem;
}

.container-fluid.main, .container-fluid.navigation {
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  font-size: 14px;
  text-align: center;
}

div.row.topic {
  margin-bottom: 20px;
}
button.wipe {
  margin-top: 10.75px;
}
div.topic .form-control {
   width: 280px;
}

.selectable {
  cursor: pointer;
}

/*
 * Story style
 */
form.storysetter {
  margin-top: 10px;
}

/*
 * Ticketing
 */
div.ticketing {
  padding: 10px;
  border-width: 0px, 1px, 1px, 1px;
}


/*
 * Cards style
 */
div.card-container {
  margin-bottom: 20px;
}

div.card-container h2 {
  font-weight: bold;
  width: 100px;
  min-height: 70px;
  text-align: center;
}

div.card {
  border: 2px solid #0F1593;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
div.card .inner {
  margin: 3px 3px 0;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #0F1593, #161ec9);
  background-image: -webkit-linear-gradient(top, #0F1593, #161ec9);
  text-align: center;
}

span.card-label {
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding: 50px 0 50px;
  color: #FFFFFF;
}

div.card, div.card-flip {
    height: 150px;
    width: 100px;
}


/* Card flip */
div.card-overview {
  perspective: 1000px;
}
div.card-overview:first-child {
  margin-left: 15px;
}
div.card-overview div.card-container {
  float: left;  
  width: 33%;
}

div.card.front, div.card.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 15px;
  left: 0;
}
div.deletable-card{
  position: relative;
  height: 212px;
  width: 142px;
}
div.card.back {
  transform: rotateY(180deg);
}
div.card-flip{
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
div.card-flip.flipped {
  transform: rotateY(180deg);
}

/* Selectable card */
div.card.active {
  box-shadow: 0px 0px 20px 5px #c80020;
}
div.card.confirmed {
  box-shadow: 0px 0px 20px 5px #7ec500;
}
button.vote {
  width: 100%;
}
div.delete-member {
  top: 3px;
  left: 85px;
  height: 25px;
  width: 25px;
}

div.leave {
  top: 10px;
  left: 5px;
  height: 40px;
  width: 40px;
}
  
div.remove {
  display: block; 
  position: absolute; 
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  background: #fa623f;
  border-color: #fa5a35;
  background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
  background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
}

div.remove span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.delete-member:hover {
  /* color:??; color is missing here */
}

/*
 * Session style
 */
span.session-private {
  width: 10%;
  text-align: left;
  display: inline-block;
}
span.session-list {
  width: 27%;
  display: inline-block;
}
span.session-list.left {
  text-align: left;
}
span.session-list.center {
  text-align: center;
}
span.session-list.right {
  text-align: right;
}

/*
 * Optimize space usage on mobile with smaller member column
 */
@media (max-width: 425px) {
  span.session-private {
  width: 16px;
}
  span.session-list.left {
    width: 30%;
  }
  span.session-list.right {
    width: 42%;
  }
  .list-group-item.slim {
    padding: 5px;
  }
  span.session-list.center {
   text-align: left;
   width: 15%;
  }
}

/*
 * Removal styling
 */
div.removal {
  margin-top: 150px;
}
